<div id="contactinfo" style="display:none">
<div class="row" id="contactrow">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
            <div class="panel-heading">
            <div class="panel-title text-center">Add Contact</div>

            <hr>
            <div class="panel-body">
            <div class="row">
                <div class="col-lg-12">
                    <form id="contact-form" action="addcontact" method="post" role="form" style="display: block;">
                        <div class="form-group input-group ui-widget">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" name="contactname" id="contactname" class="form-control" required placeholder=" " list="contactlist" />
                            <datalist id="contactlist">
                            </datalist>
                            <!--input type="text"  tabindex="2" class="form-control" required placeholder=" "-->
                            <label class="form-control-placeholder" for="contactname">Contact</label>
                        </div>
                        <!--div class="ui-widget">
                            <label for="tags">Tags: </label>
                            <input id="tags">
                        </div-->
                        <div>
                            <button id="contact-submit" tabindex="3" class="form-control btn btn-login"><i class="fa fa-user-plus fa-fw"></i> Add</button>
                        </div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
</div>